.light {
  --app-theme-text: 0, 0, 0;

  --app-theme-surface: 255, 255, 255;
  --app-theme-background: 255, 255, 255;

  --app-theme-divider: 0, 0, 0;

  --app-bs-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.dark {
  --app-theme-text: 255, 255, 255;

  --app-theme-background: 18, 18, 18;
  --app-theme-surface: 33, 33, 33;

  --app-theme-divider: 255, 255, 255;

  --app-bs-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

/* .app {
  background-color: rgb(var(--app-theme-background));
  color: rgb(var(--app-theme-text));
} */

input {
  color: inherit;
}

body,
input {
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
}

.app-bs-shadow {
  box-shadow: var(--app-bs-shadow);
}
